{{!-- The Search page --}}
<div class="container blog">
    <div class="grid-x">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/cms">New Post</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/authors">Manage Authors</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 blog-container">
        </div>
    </div>
</div>