{{!-- The home page --}}
<div class="grid-x grid-margin-x">
        <div class="cell medium-3 medium-offset-1 topCard card">
            <div class="card-divider">
                <h2 class="cardHdr">Welcome to Beer Lovers!</h2>
            </div>
            <div>
                <h3>Here's how we spread the beer love:</h3>
            </div>
            <div>
                <a class="cardLink" href="/search">Beer Search: </a>
                <p class="cardLink">Search for beers and venues anywhere in the world.</p>
            </div>
            <div>
                <a class="cardLink" href="/blog">Beer Blog:     </a>
                <p class="cardLink">Blog about your beer life!</p>
            </div>
            <div>
                <a class="cardLink" href="/pub">My Pub:         </a>
                <p class="cardLink">It's your pub and it serves only your favorite beers.</p>
            </div>
            <div>
                <a class="cardLink" href="/social">Beer Social: </a>
                <p class="cardLink">Get social.  See how beer is trending in social media.</p>
            </div>

        </div>
        <div class="cell medium-1"></div>        
        <div class=" cell medium-4 card topCard">
            <div class="card-divider">
                <h2 class="cardHdr">Worldwide Beer Events</h2>
            </div>
            <ul class="list-group">
				{{#each results}}
					
					<li class="list-group-item">
						<p class="lead"> {{this.name}} </p>
					</li>
					
				{{/each}}
				</ul>
        </div>
        <div class="cell medium-1"></div>
</div>
<div class="grid-x grid-margin-x">
    <div class="cell medium-3 medium-offset-1 topCard card">
        <div class="card-divider">
            <h2 class="cardHdr">Beer Headlines</h2>
        </div>
       
        <div>
            <a class="newsLink" target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=newssearch&cd=1&cad=rja&uact=8&ved=0ahUKEwi3jZj7qZ7WAhVK1oMKHX9ZAXsQqQIIJygAMAA&url=https%3A%2F%2Fla.eater.com%2F2017%2F9%2F11%2F16290174%2Fburbank-craft-beer-empire-tavern-coming-news&usg=AFQjCNFThbgsPeNUjd086UOWgrs3_NZYuw"
            >A New Burbank Craft Beer Bar Promises Big Brews and an Industrial Vibe</a>
        </div>
        <div>
            <a class="newsLink" target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=newssearch&cd=2&cad=rja&uact=8&ved=0ahUKEwi3jZj7qZ7WAhVK1oMKHX9ZAXsQqQIIKigAMAE&url=https%3A%2F%2Fwww.thrillist.com%2Fdrink%2Fnation%2Ftypes-of-beer-snobs&usg=AFQjCNHDTH6qOkBHxLQxhsAdGq8VF8ZdTQ"
            >The 19 Types of Beer Snobs, Ranked by Obnoxiousness</a>
        </div>

    </div>
    <div class="cell medium-1"></div>
    <div class=" cell medium-4 card topCard">
        <div class="card-divider">
            <h2 class="cardHdr">BYO (Brew Your Own)</h2>
        </div>
        <div>
            <a class="newsLink" target="_blank" href="http://www.brewdemon.com/starter-kits/craft-beer-kits/2-gallon-starter-kits?gclid=Cj0KCQjw6NjNBRDKARIsAFn3NMqTtLfdYcLe7vMVi86ZG7JAMxdUrWzRszTu_TxwkJd2jbX36uFikEIaAt1tEALw_wcB">Brewdemon.com Unleash Your Inner Brew Demon</a>
        </div>
        <div>
            <a class="newsLink" target="_blank" href= "https://byo.com/newbrew">How to Homebrew Beer</a>
        </div>
    </div>
    <div class="cell medium-1"></div>
</div>
