{{!-- The Search page --}}
<div class="grid-x">
    <div class="cell medium-3 medium-offset-4 topCard card">
        <div class="card-divider">
            <h2 class="cardHdr">Welcome to {{user}}'s Pub</h2>
        </div>
    </div>
    <div class="cell medium-4"></div>    
</div>

<div class="grid-x grid-margin-x">
    <div class=" cell medium-10 medium-offset-1 card topCard">
        <div class="card-divider">
            <h2 class="cardHdr">Favorite Beers</h2>
        </div>
        <div class="beerResults"></div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
        <div class="beerResults">Beer, Beer, Beer, Beer, Beer</div>
    </div>
    <div class="cell medium-1"></div>
</div>
<hr>
<div class="grid-x grid-margin-x">
    <div class=" cell medium-10 medium-offset-1 card topCard">
        <div class="card-divider">
            <h2 class="cardHdr">Favorite Pairings</h2>
        </div>
        <div class="pairingsResults"></div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
        <div class="pairingsResults">Food, Food, Food, Food, Food</div>
    </div>
    <div class="cell medium-1"></div>
</div>
