{{!-- The Search page --}}
<div class="grid-x">
    <div class="cell medium-4 medium-offset-3 topCard card">
        <h2>Sign Up Form</h2>
        <form class="signup">
            <div class="grid-x">
                <div class="medium-10 cell end">
                    <label class="loginLabel" for="email-input">Email address</label>
                    <input type="email" name='email' class="loginBox" id="email-input">
                </div>
            </div>
            <div class="grid-x">
                <div class="medium-10  cell end">
                    <label class="loginLabel" for="password-input">Password</label>
                    <input type="password" name='password' class="loginBox" id="password-input" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="button logIn">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/users/login">here</a></p>
    </div>
    <div class="cell medium-5"></div>
</div>