/* Custom CSS for Beer Lovers app */
body {
     background: url("/images/bubbles.jpg");
     overflow-x: hidden;
     color: white;
     text-align: center;
}

.no-js .top-bar {
    display: none;
}

.beerIcon {
    width: 50px;
    height: 50px;

}

.home {
    color:black;
    margin: 0px 50px 0px 0px;
}

.link {
    color:black;
    margin: 5px 0px 0px 0px;
}

.logIn,
.logOut {
    width: 300px;
    margin: 0px 20px 0px 0px;
}

.topCard,
.topCardSearch {
     margin-top: 30px;
     padding-bottom: 20px;
     opacity: 0.8;
     color: brown;
     border-radius: 25px;
     text-align: center;
}

.topCardSearch {
    padding-top: 20px;
}

.cardHdr {
    margin: 0 auto;

}

.card-divider {
    margin-bottom: 10px;
}

.cardLink,
.newsLink,
.cardText {
    float: left;
    margin: 10px 0px 0px 15px;
    font-size: 14px;
    font-weight: bold;
}

.cardLink {
    width: 90px;
    text-align: right;
}

.beerSearchButton,
.venueSearchButton {
    width: 300%;
    margin: 0 auto;
}

.searchLabel {
    width: 150px;
    margin-left: 10px;
}

.tabs {
    margin: 0px 10px;
}

.tabText{
    font-weight: bold;
    font-size: 20px;
    color: brown;
}

.login {
    margin-left: 20px;
}

.loginLabel {
    width: 100px;
    text-align: left;
}

.tableHdr {
    text-align: center;
    color:brown;
}


/* Small only */

@media screen and (max-width: 39.9375em) {
.beerSearchButton,
.venueSearchButton {
    width: 100%;
}

}
 
/* Medium and up */

@media screen and (min-width: 40em) {
.no-js .top-bar {
      display: block;
  }

  .no-js .title-bar {
      display: none;
  }
}

}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .beerSearchButton,
    .venueSearchButton {
        width: 100%;
    }
}
 

/* Large and up */

@media screen and (min-width: 64em) {}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}